<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- // IMP START - Enable Internet Usage -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- // IMP END - Enable Internet Usage -->

    <application
        tools:replace="android:theme"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Web3AuthDemoApp"
        tools:targetApi="31">
        <!-- // IMP START - Enable Single Top -->
        <activity
            android:launchMode="singleTop"
            android:name=".MainActivity"
            android:exported="true">
            <!-- // IMP END - Enable Single Top -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- // IMP START - Configure Deep Link -->
                <!-- Accept URIs: {YOUR_APP_PACKAGE_NAME}://* -->
                <data android:scheme="com.sbz.web3authdemoapp" />
                <!-- // IMP END - Configure Deep Link -->
            </intent-filter>
        </activity>
    </application>

</manifest>
