<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461819774167-bpgggt9sa54debadqvir2vjf00r6g7m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461819774167-bpgggt9sa54debadqvir2vjf00r6g7m6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>461819774167-93iair46nluf28pdbpmqq65eqktdbb7g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAttkINEO4AWRc2jJDHa5fPYp_1EtujcH0</string>
	<key>GCM_SENDER_ID</key>
	<string>461819774167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>web3authrnbarefirebase</string>
	<key>PROJECT_ID</key>
	<string>web3auth-oauth-logins</string>
	<key>STORAGE_BUCKET</key>
	<string>web3auth-oauth-logins.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461819774167:ios:82239d4b9d6d6c725b9c92</string>
	<key>DATABASE_URL</key>
	<string>https://web3auth-oauth-logins-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>